.bar {
    margin: 0px 0px 5px;
    padding: 8px 16px;
    border-radius: 25px;
    font-size:50px;
    color: gray;
    background-color: #222;
    border-color: #080808;
}

footer {
    background-color: #c7c7c7;
    padding: 7px;
}

:root {
    --cell-count: 16;
}

#gamewindow {
    display: grid;
    grid-template-columns: repeat(var(--cell-count),1fr);
    grid-template-rows: repeat(var(--cell-count),1fr);
    height: 500px;
    width: 500px;
    background-color: black;
}
#gamewindow2 {
    height: 100px;
    width: 500px;
    background-color: black;
    align-self: center;
}



#slider {
    display: grid;
    width: 500px;
}

.cell {
    background-color: white;
    color: black;
    margin: 0.5px;
}

.overview {
    background-color: gray;
}

.gamewindow2text {
    font-family: courier-new, monospace;
    color: grey;
    font-size: 20px;

}

#msg {
    font-size: 32px;
    color: lightgrey;
    width: 60%;
}

.fontt {
    font-family: courier-new, monospace;


}
#resetbutton{
    background-color: black;
    color: grey;
    width: 500px;
    border-color: #080808;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
#resetdiv {
    width: 500px;
    background-color: black;
    align-self: center;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}


#lowerwindow{
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
}

#tobottom {
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 50px;
}